<div class="row">
    <div class="col-md-9">
        <div ui-tree data-drag-enabled="false">
            <ol ui-tree-nodes="" ng-model="adminCtrl.users" ng-class="{hidden: collapsed}">
                <li ng-repeat="user in adminCtrl.users  | filter: adminCtrl.searchByUsername" data-collapsed="true" ui-tree-node>
                    <div ui-tree-handle class="tree-node tree-node-content">
                        <div class="row">
                            <div class="col-md-2">
                                <a class="btn btn-success btn-xs" data-nodrag ng-click="adminCtrl.getVideoListsByUser(user);this.toggle();">
                                    <span class="glyphicon glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                                </a>
                            </div>
                            <div class="col-md-2">{{user.username}}</div>
                            <div class="col-md-2">{{user.firstName}}</div>
                            <div class="col-md-2">{{user.lastName}}</div>
                            <div class="col-md-2">{{user.email}}</div>
                            <div class="col-md-2">
                                <a class="pull-right btn btn-primary btn-xs" data-nodrag data-toggle="modal" data-target="#delete-user-modal" ng-click="adminCtrl.selectUser(user)"><span class="glyphicon glyphicon-remove"></span></a>
                                <a class="pull-right btn btn-primary btn-xs" data-nodrag data-toggle="modal" data-target="#block-user-modal" ng-click="block(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-ban-circle"></span></a>
                                <a class="pull-right btn btn-primary btn-xs" data-nodrag data-toggle="modal" data-target="#add-user-modal" ng-click="adminCtrl.editUser(user)" style="margin-right: 8px;"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                        </div>
                    </div>
                    <ol ui-tree-nodes="" ng-model="user.videoLists" ng-class="{hidden: collapsed}">
                        <li ng-repeat="videoList in user.videoLists | filter: adminCtrl.searchByVideolistTitle" data-collapsed="true" ui-tree-node>
                            <div ui-tree-handle>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-xs" data-nodrag ng-click="adminCtrl.getVideosByVideoList(videoList);this.toggle();">
                                            <span class="glyphicon glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                                        </a>
                                    </div>
                                    <div class="col-md-4">{{videoList.title}}</div>
                                    <div class="col-md-2"><span ng-if="videoList.visible===true">Public</span>
                                        <span ng-if="videoList.visible===false">Private</span></div>
                                </div>
                            </div>
                            <ol ui-tree-nodes="" ng-model="videoList.videos" ng-class="{hidden: collapsed}">
                                <li ng-repeat="video in videoList.videos | filter: adminCtrl.searchByVideoTitle" data-collapsed="true" ui-tree-node>
                                    <div ui-tree-handle>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a ng-href="#/video/{{video.id}}">
                                                    <span>{{video.title}}</span>
                                                    <span><img ng-click="" style="width: 120px" class="img-responsive" ng-src="{{video.videoImageUrl}}" alt="{{video.title}}" /></span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">{{video.description}}</div>
                                            <div class="col-md-4"><a ng-href="http://{{video.videoUrl}}" target="_blank">{{video.videoUrl}}</a></div>
                                        </div>
                                        <a class="btn btn-success btn-xs" data-nodrag ng-click="adminCtrl.getCommentsForVideo(video);this.toggle();">
                                            <span class="glyphicon glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                                        </a>
                                    </div>
                                    <ol ui-tree-nodes="" ng-model="video.comments" ng-class="{hidden: collapsed}">
                                        <li ng-repeat="comment in video.comments" data-collapsed="true" ui-tree-node>
                                            <div ui-tree-handle>
                                                <div class="row">
                                                    <div class="col-md-2">{{comment.user.username}}</div>
                                                    <div class="col-md-4">{{comment.content}}</div>
                                                    <div class="col-md-4">{{comment.creationDate | date: "dd. MMM y."}}</div>
                                                    <div class="col-md-2">
                                                    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="adminCtrl.deleteComment(comment.id)"><span class="glyphicon glyphicon-remove"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search user..." ng-model="adminCtrl.searchByUsername" />
            <span class="input-group-btn">
	       			<button class="btn btn-primary" type="button" ng-click="adminCtrl.searchByUsername = ''"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
        <br>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search playlist..." ng-model="adminCtrl.searchByVideolistTitle" />
            <span class="input-group-btn">
	       			<button class="btn btn-primary" type="button" ng-click="adminCtrl.searchByVideolistTitle = ''"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
        <br>
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search video..." ng-model="adminCtrl.searchByVideoTitle" />
            <span class="input-group-btn">
	       			<button class="btn btn-primary" type="button" ng-click="adminCtrl.searchByVideoTitle = ''"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
        <br>
        <div class="input-group input-group-sm">
            <span class="input-group-btn">
	       			<button class="btn btn-primary pull-right" type="button" ng-click="adminCtrl.clearAll()">Clear All</button>
	   			</span>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-user-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete User</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to delete <i>{{adminCtrl.user.username}}</i> with all user video list?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="adminCtrl.deleteUser(adminCtrl.user.id)">OK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-user-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{adminCtrl.operation}} user</h4>
            </div>

            <div class="modal-body">
                <form name="adminCtrl.adminUserForm" role="form" ng-submit="adminCtrl.saveUser(adminCtrl.user)" novalidate>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <div class="input-group" ng-class="{ 'has-error' : adminCtrl.adminUserForm.username.$invalid && !adminCtrl.adminUserForm.username.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input name="username" type="text" class="form-control" id="username2" placeholder="Enter your username" required ng-model="adminCtrl.user.username" />
                        </div>
                        <span class="error" ng-show="adminCtrl.adminUserForm.username.$invalid && !adminCtrl.adminUserForm.username.$pristine">* Username is required!</span>
                        <span ng-if="adminCtrl.error.username" class="error">* {{adminCtrl.error.username}}</span>
                    </div>
                    <div class="form-group" uib-tooltip="Password must contain between 8 and 20 characters! One special character and one number is required!">
                        <label for="password">Password</label>
                        <div class="input-group" ng-class="{ 'has-error' : adminCtrl.adminUserForm.password.$invalid && !adminCtrl.adminUserForm.password.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input name="password" type="password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[@#$%^&+=!@#$%&*()_+=|<>?{}\\[\]~-])(?!.*\s).{8,20}$/" class="form-control" id="password" placeholder="Enter your password" required ng-model="adminCtrl.user.password" />
                        </div>
                        <span class="error" ng-show="adminCtrl.adminUserForm.password.$invalid && !adminCtrl.adminUserForm.password.$pristine">* Password is not valid!</span>
                    </div>
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" ng-model="adminCtrl.user.firstName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" ng-model="adminCtrl.user.lastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="input-group" ng-class="{ 'has-error' : adminCtrl.adminUserForm.email.$invalid && !adminCtrl.adminUserForm.email.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input name="email" type="email" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" class="form-control" id="email" placeholder="Enter your email" required ng-model="adminCtrl.user.email" />
                        </div>
                        <span class="error" ng-show="adminCtrl.adminUserForm.email.$invalid && !adminCtrl.adminUserForm.email.$pristine">* Email is required!</span>
                        <span ng-if="adminCtrl.error.email" class="error">* {{adminCtrl.error.email}}</span>
                    </div>
                    <div class="alert alert-danger" ng-if="adminCtrl.error">Failed to add user!</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="adminCtrl.adminUserForm.$invalid">Submit</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="block-user-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Block user</h4>
            </div>
            <div class="modal-body">
                Period of time:
                <div class="radio">
                    <label><input type="radio" name="optradio">One week</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">One month</label>
                </div>
                <div class="radio disabled">
                    <label><input type="radio" name="optradio">Three months</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Six months</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Nine months</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">One year</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
