<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!--            <search-video-providers on-video-select="homeCtrl.addVideo(video)"></search-video-providers>-->
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="" ng-click="homeCtrl.orderBy('id')">Latest 
                        									<span ng-hide ="homeCtrl.order !== 'id' || homeCtrl.reverseOrder===true"  class="glyphicon glyphicon-chevron-down"></span>
                                                         <span ng-hide = "homeCtrl.order !== 'id' || homeCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span> </a></li>
                        <li role="presentation"><a href="" ng-click="homeCtrl.orderBy('averageRate')">Top Rated <span  ng-hide ="homeCtrl.order !== 'averageRate' || homeCtrl.reverseOrder===true" class="glyphicon glyphicon-chevron-down"></span>
                                                          <span ng-hide = "homeCtrl.order !== 'averageRate' || homeCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span></a></li>
                        <li role="presentation"><a href="" ng-click="homeCtrl.orderBy('numberOfComments')">Most Commented <span ng-hide ="homeCtrl.order !== 'numberOfComments' || homeCtrl.reverseOrder===true" class="glyphicon glyphicon-chevron-down"></span>
                                                          <span ng-hide = "homeCtrl.order !== 'numberOfComments' || homeCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span></a></li>
                        <li role="presentation"><a href="" ng-click="homeCtrl.orderBy('title')">Alphabetic Order <span ng-hide ="homeCtrl.order !== 'title' || homeCtrl.reverseOrder===true" class="glyphicon glyphicon-chevron-down"></span>
                                                           <span ng-hide = "homeCtrl.order !== 'title' || homeCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span></a></li>
                    </ul>
                </div>
            </div>
            <div ng-scrollbars ng-scrollbars-config="homeCtrl.scrollbarsConfig">
                <ul class="list-unstyled video-list-thumbs row">
                    <li class="col-md-4 col-xs-6" ng-repeat="video in homeCtrl.publicVideos | orderBy:homeCtrl.order :homeCtrl.reverseOrder | searchFilter: homeCtrl.searchByVideo"> <!--:homeCtrl.reverseOrder-->
                        <a class="play-video" ng-href="#/video/{{video.id}}" uib-popover="{{video.title}}" popover-append-to-body="true" popover-placement="auto top" popover-trigger="'mouseenter'">
                            <img ng-src="{{video.videoImageUrl}}" alt="{{video.title}}" class="img-responsive" height="130px" />
                            <h2 class="might-overflow">{{video.title}}</h2>
                            <span class="glyphicon glyphicon-play-circle"></span>
                            <span class="username">{{video.videoList.user.username}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="affix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="homeCtrl.searchByVideo" placeholder="Search..."/>
                            <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="homeCtrl.searchByVideo = ''">
						        <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default playlists">
                            <div class="panel-heading">Playlists <button type="button" class="btn btn-default btn-xs pull-right" ng-click="homeCtrl.getPublicVideos();homeCtrl.selectVideoList(null);">All videos</button></div>
                            <div class="list-group">
                                <div ng-repeat="videoList in homeCtrl.publicVideoLists">
                                    <a ng-class="{ 'active': homeCtrl.selectedVideoList() === videoList }" href="" class="list-group-item" ng-click="homeCtrl.getPublicVideosByVideoListId(videoList.id);homeCtrl.selectVideoList(videoList);">{{videoList.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
