<div class="modal fade" id="login-register-modal" role="dialog">
    <div class="modal-dialog">
        <div class="row">
            <div class="col-md-12">
                <div ng-switch on="mainCtrl.loginOrRegister">


                    <!--Login-->
                    <div ng-switch-when="login">
                        <form class="modal-content" name="mainCtrl.loginUserForm" role="form" ng-submit="mainCtrl.login(btoa(mainCtrl.credentials.username + ':' + mainCtrl.credentials.password))" novalidate>
                            <div class="modal-header">
                                <button ng-click="mainCtrl.clearForm(mainCtrl.loginUserForm)" type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Login</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <div class="input-group" ng-class="{ 'has-error' : mainCtrl.loginUserForm.username.$invalid && !mainCtrl.loginUserForm.username.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required ng-model="mainCtrl.credentials.username" />
                                    </div>
                                    <span class="error" ng-show="mainCtrl.loginUserForm.username.$invalid && !mainCtrl.loginUserForm.username.$pristine">* Username is required!</span>
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Password</label>
                                    <div class="input-group" ng-class="{ 'has-error' : mainCtrl.loginUserForm.password.$invalid && !mainCtrl.loginUserForm.password.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" id="password-login" name="password" placeholder="Enter your password" required ng-model="mainCtrl.credentials.password" />
                                    </div>
                                    <span class="error" ng-show="mainCtrl.loginUserForm.password.$invalid && !mainCtrl.loginUserForm.password.$pristine">* Password is required!</span>
                                </div>
                                <br>
                                <div class="checkbox text-center">
                                    <label><input type="checkbox" ng-model="mainCtrl.credentials.autologin">Remember me next time.</label>
                                </div>
                                <br>
                                <div class="alert alert-danger" ng-if="mainCtrl.loginError">Bad credentials!</div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0)" ng-click="mainCtrl.toggleLoginRegister('register')" class="pull-left">Register</a>
                                <button type="submit" class="btn btn-primary" ng-disabled="mainCtrl.loginUserForm.$invalid">Submit</button>
                                <button ng-click="mainCtrl.clearForm(mainCtrl.loginUserForm)" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>


                    <!--Register-->
                    <div ng-switch-when="register">
                        <form class="modal-content" name="mainCtrl.registerUserForm" role="form" ng-submit="mainCtrl.register(mainCtrl.registerInput)" novalidate>
                            <div class="modal-header">
                                <button ng-click="mainCtrl.clearForm(mainCtrl.registerUserForm)" type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Register</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <div class="input-group" ng-class="{ 'has-error' : mainCtrl.registerUserForm.username.$invalid && !mainCtrl.registerUserForm.username.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input name="username" type="text" class="form-control" id="username" placeholder="Enter your username" required ng-model="mainCtrl.registerInput.username" ng-minlength="5" ng-maxlength="15" uib-tooltip="Username must be from 5 to 15 characters long!" tooltip-trigger="'focus'" tooltip-placement="top-right"/>
                                    </div>
                                    <span class="error" ng-show="mainCtrl.registerUserForm.username.$invalid && !mainCtrl.registerUserForm.username.$pristine">* Username is not valid!</span>
                                    <span ng-if="mainCtrl.registrationError.username" class="error">* {{mainCtrl.registrationError.username}}</span>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group" ng-class="{ 'has-error' : mainCtrl.registerUserForm.password.$invalid && !mainCtrl.registerUserForm.password.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input name="password" type="password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[@#$%^&+=!@#$%&*()_+=|<>?{}\\[\]~-])(?!.*\s).{8,20}$/" class="form-control" id="password" placeholder="Enter your password" required ng-model="mainCtrl.registerInput.password" uib-tooltip="Password must contain between 8 and 20 characters! One special character and one number is required!" tooltip-trigger="'focus'" tooltip-placement="top-right"/>
                                    </div>
                                    <span class="error" ng-show="mainCtrl.registerUserForm.password.$invalid && !mainCtrl.registerUserForm.password.$pristine">* Password is not valid!</span>
                                </div>
                                <div class="form-group">
                                    <label for="firstname">Firstname</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" ng-model="mainCtrl.registerInput.firstName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Lastname</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" ng-model="mainCtrl.registerInput.lastName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div class="input-group" ng-class="{ 'has-error' : mainCtrl.registerUserForm.email.$invalid && !mainCtrl.registerUserForm.email.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input name="email" type="email" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" class="form-control" id="email" placeholder="Enter your email" required ng-model="mainCtrl.registerInput.email" />
                                    </div>
                                    <span class="error" ng-show="mainCtrl.registerUserForm.email.$invalid && !mainCtrl.registerUserForm.email.$pristine">* Email is not valid!</span>
                                    <span ng-if="mainCtrl.registrationError.email" class="error">* {{mainCtrl.registrationError.email}}</span>
                                </div>

                                <!-- reCaptcha -->
                                <div class="text-center">
                                    <div vc-recaptcha on-create="mainCtrl.setRecaptchaId(widgetId)" key="mainCtrl.publicKey" theme="lite" size="normal" style="display:inline-block"></div>
                                </div>
                                <!--  -->
                                <br>
                                <div class="alert alert-danger" ng-if="mainCtrl.registrationError">Registration failed!</div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0)" ng-click="mainCtrl.toggleLoginRegister('login')" class=pull-left>Login</a>
                                <button type="submit" class="btn btn-primary" ng-disabled="mainCtrl.registerUserForm.$invalid">Submit</button>
                                <button ng-click="mainCtrl.clearForm(mainCtrl.registerUserForm)" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registrationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="mainCtrl.closeRegistrationConfirmation()">&times;</button>
                <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">
                <p>{{mainCtrl.registrationMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="mainCtrl.closeRegistrationConfirmation()">Close</button>
            </div>
        </div>
    </div>
</div>
