<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div ng-switch on="loginRegisterCtrl.loginOrRegister">
            
            
            <!--Login-->
            <div ng-switch-when="login">
                <form name="loginRegisterCtrl.loginUserForm" role="form" ng-submit="loginRegisterCtrl.login()" novalidate>
                    <div class="form-group">
                        <label for="username1">Username</label>
                        <div class="input-group" ng-class="{ 'has-error' : loginRegisterCtrl.loginUserForm.username.$invalid && !loginRegisterCtrl.loginUserForm.username.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="username1" name="username-login" placeholder="Enter your username" required ng-model="loginRegisterCtrl.credentials.username" />
                        </div>
                        <span class="error" ng-show="loginRegisterCtrl.loginUserForm.username.$invalid && !loginRegisterCtrl.loginUserForm.username.$pristine">* Username is required!</span>
                    </div>
                    <div class="form-group">
                        <label for="password-login">Password</label>
                        <div class="input-group" ng-class="{ 'has-error' : loginRegisterCtrl.loginUserForm.password.$invalid && !loginRegisterCtrl.loginUserForm.password.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="password-login" name="password" placeholder="Enter your password" required ng-model="loginRegisterCtrl.credentials.password" />
                        </div>
                        <span class="error" ng-show="loginRegisterCtrl.loginUserForm.password.$invalid && !loginRegisterCtrl.loginUserForm.password.$pristine">* Password is required!</span>
                    </div>
                    <div class="alert alert-danger" ng-if="loginRegisterCtrl.loginError">Bad credentials!</div>
                    <button type="submit" class="btn btn-primary" ng-disabled="loginRegisterCtrl.loginUserForm.$invalid">Submit</button>
                    <a href="javascript:void(0)" ng-click="loginRegisterCtrl.toggleLoginRegister('register')" class=pull-right>Register</a>
                </form>
            </div>
            
            
            <!--Register-->
            <div ng-switch-when="register">
                <form name="loginRegisterCtrl.registerUserForm" role="form" ng-submit="loginRegisterCtrl.register(loginRegisterCtrl.registerInput)" novalidate>
                    <div class="form-group">
                        <label for="username2">Username</label>
                        <div class="input-group" ng-class="{ 'has-error' : loginRegisterCtrl.registerUserForm.username.$invalid && !loginRegisterCtrl.registerUserForm.username.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input name="username" type="text" class="form-control" id="username2" placeholder="Enter your username" required ng-model="loginRegisterCtrl.registerInput.username" />
                        </div>
                        <span class="error" ng-show="loginRegisterCtrl.registerUserForm.username.$invalid && !loginRegisterCtrl.registerUserForm.username.$pristine">* Username is required!</span>
                        <span ng-if="loginRegisterCtrl.registrationError.username" class="error">* {{loginRegisterCtrl.registrationError.username}}</span>
                    </div>
                    <div class="form-group" uib-tooltip="Password must contain between 8 and 20 characters! One special character and one number is required!">
                        <label for="password">Password</label>
                        <div class="input-group" ng-class="{ 'has-error' : loginRegisterCtrl.registerUserForm.password.$invalid && !loginRegisterCtrl.registerUserForm.password.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input name="password" type="password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[@#$%^&+=!@#$%&*()_+=|<>?{}\\[\]~-])(?!.*\s).{8,20}$/" class="form-control" id="password" placeholder="Enter your password" required ng-model="loginRegisterCtrl.registerInput.password" />
                        </div>
                        <span class="error" ng-show="loginRegisterCtrl.registerUserForm.password.$invalid && !loginRegisterCtrl.registerUserForm.password.$pristine">* Password is not valid!</span>
                    </div>
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" ng-model="loginRegisterCtrl.registerInput.firstName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" ng-model="loginRegisterCtrl.registerInput.lastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="input-group" ng-class="{ 'has-error' : loginRegisterCtrl.registerUserForm.email.$invalid && !loginRegisterCtrl.registerUserForm.email.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input name="email" type="email" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" class="form-control" id="email" placeholder="Enter your email" required ng-model="loginRegisterCtrl.registerInput.email" />
                        </div>
                        <span class="error" ng-show="loginRegisterCtrl.registerUserForm.email.$invalid && !loginRegisterCtrl.registerUserForm.email.$pristine">* Email is required!</span>
                        <span ng-if="loginRegisterCtrl.registrationError.email" class="error">* {{loginRegisterCtrl.registrationError.email}}</span>
                    </div>

                    <!-- reCaptcha -->
                    <div class="text-center">
                        <div vc-recaptcha key="loginRegisterCtrl.publicKey" theme="dark" size="normal" style="display:inline-block"></div>
                    </div>
                    <!--  -->
                    <br>
                    <div class="alert alert-danger" ng-if="loginRegisterCtrl.registrationError">Registration failed!</div>
                    <button type="submit" class="btn btn-primary" ng-disabled="loginRegisterCtrl.registerUserForm.$invalid">Submit</button>
                    <a href="javascript:void(0)" ng-click="loginRegisterCtrl.toggleLoginRegister('login')" class=pull-right>Login</a>
                </form>
            </div>
            

        </div>
    </div>
</div>
<div class="modal fade" id="registrationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="loginRegisterCtrl.closeRegistrationConfirmation()">&times;</button>
                <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">
                <p>{{loginRegisterCtrl.registrationMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="loginRegisterCtrl.closeRegistrationConfirmation()">Close</button>
            </div>
        </div>
    </div>
</div>
