<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="affix">
                <search-video-providers on-video-select="videoListsCtrl.addVideo(video)" ng-if="videoListsCtrl.videoList.id"></search-video-providers>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="" ng-click="videoListsCtrl.orderBy('id')">Latest
                                                         <span ng-hide ="videoListsCtrl.order !== 'id' || videoListsCtrl.reverseOrder===true"  class="glyphicon glyphicon-chevron-down"></span>
                                                         <span ng-hide = "videoListsCtrl.order !== 'id' || videoListsCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span> </a></li>
                        <li role="presentation"><a href="" ng-click="videoListsCtrl.orderBy('averageRate')">Top Rated
                                                         <span  ng-hide ="videoListsCtrl.order !== 'averageRate' || videoListsCtrl.reverseOrder===true" class="glyphicon glyphicon-chevron-down"></span>
                                                         <span ng-hide = "videoListsCtrl.order !== 'averageRate' || videoListsCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span></a></li>
                        <li role="presentation"><a href="" ng-click="videoListsCtrl.orderBy('numberOfComments')">Most Commented
                                                          <span ng-hide ="videoListsCtrl.order !== 'numberOfComments' || videoListsCtrl.reverseOrder===true" class="glyphicon glyphicon-chevron-down"></span>
                                                          <span ng-hide = "videoListsCtrl.order !== 'numberOfComments' || videoListsCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span></a></li>
                        <li role="presentation"><a href="" ng-click="videoListsCtrl.orderBy('title')">Alphabetic Order
                                                          <span ng-hide ="videoListsCtrl.order !== 'title' || videoListsCtrl.reverseOrder===true" class="glyphicon glyphicon-chevron-down"></span>
                                                          <span ng-hide = "videoListsCtrl.order !== 'title' || videoListsCtrl.reverseOrder===false"  class="glyphicon glyphicon-chevron-up"></span></a></li>
                    </ul>
                </div>
            </div>
            <div ng-scrollbars ng-scrollbars-config="videoListsCtrl.scrollbarsConfig">
                <ul class="list-unstyled video-list-thumbs row">
                    <li class="col-md-4 col-xs-6" ng-repeat="video in videoListsCtrl.videos | orderBy:videoListsCtrl.order">
                        <a class="play-video" ng-href="#/video/{{video.id}}" uib-popover="{{video.title}}" popover-append-to-body="true" popover-placement="auto top" popover-trigger="'mouseenter'">
                            <img ng-src="{{video.videoImageUrl}}" alt="{{video.title}}" class="img-responsive" height="130px" />
                            <h2 class="might-overflow">{{video.title}}</h2>
                            <span class="glyphicon glyphicon-play-circle"></span>
                            <span class="username">{{video.videoList.user.username}}</span>
                            <a class="delete-video" href="" ng-click="videoListsCtrl.selectVideo(video);" data-toggle="modal" data-target="#delete-video-modal"><span class="glyphicon glyphicon-remove-circle"></span></a>
                            <a class="edit-video" href="" ng-click="videoListsCtrl.addVideo(video);"><span class="glyphicon glyphicon-edit"></span></a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="affix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Search..."></input>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default playlists">
                            <div class="panel-heading">Playlists
                                <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#add-lists-modal" ng-click="videoListsCtrl.addVideoList()">    
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <div class="list-group">
                                <div ng-repeat="videoList in videoListsCtrl.videoLists">
                                    <a ng-class="{ 'active': videoListsCtrl.selectedVideoList() === videoList }" href="" class="list-group-item" ng-click="videoListsCtrl.getVideosByVideoList(videoList.id);videoListsCtrl.selectVideoList(videoList);">{{videoList.title}}  
                                        <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#deleteVideoListModal" ng-click="videoListsCtrl.selectVideoList(videoList)" >
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#add-lists-modal" ng-click="videoListsCtrl.editVideoList(videoList)" style="margin-right: 8px;">
                                             <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteVideoListModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete playlist</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete <i>{{videoListsCtrl.videoList.title}}</i> ?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="videoListsCtrl.deleteVideoList(videoListsCtrl.videoList)">OK</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="add-lists-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{videoListsCtrl.operation}} playlist</h4>
                </div>
                <div class="modal-body">
                    <form name="videoListsCtrl.addVideoListsForm" novalidate ng-class="{ 'has-error' : videoListsCtrl.addVideoListsForm.title.$invalid && !videoListsCtrl.addVideoListsForm.title.$pristine }">
                        <div class="form-group">
                            <div class="modal-item">
                                <label><h5>Title:</h5></label>
                                <input name="title" type="text" class="form-control" required ng-model="videoListsCtrl.videoList.title" />
                                <span class="error" ng-show="videoListsCtrl.addVideoListsForm.title.$invalid && !videoListsCtrl.addVideoListsForm.title.$pristine">* Tittle is required! </span>
                                <br>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <i class="fa fa-global" aria-hidden="true"></i>
                        <div class="col-xs-3">
                            <select aria-label="ngSelected demo" class="form-control" ng-model="videoListsCtrl.videoList.visible" ng-options="o.v as o.n for o in [{ n: '&#xf0ac; Public', v: true },{ n: '&#xf023; Private', v: false }]"></select>
                        </div>
                        <div class="col-xs-9">
                            <button type="button" class="btn btn-primary" ng-click="videoListsCtrl.saveVideoList(videoListsCtrl.videoList)">Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-video-modal" role="dialog">
        <div class="modal-dialog">
            <form class="modal-content" name="videoListsCtrl.addVideoForm" role="form" ng-submit="videoListsCtrl.saveVideo(videoListsCtrl.video)" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add video to {{videoListsCtrl.selectedVideoList().title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <div class="input-group" ng-class="{ 'has-error' : videoListsCtrl.addVideoForm.title.$invalid && !videoListsCtrl.addVideoForm.title.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter video title" required ng-model="videoListsCtrl.video.title" />
                        </div>
                        <span class="error" ng-show="videoListsCtrl.addVideoForm.title.$invalid && !videoListsCtrl.addVideoForm.title.$pristine">* Title is required!</span>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <div class="input-group" ng-class="{ 'has-error' : videoListsCtrl.addVideoForm.description.$invalid && !videoListsCtrl.addVideoForm.description.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter video description" ng-model="videoListsCtrl.video.description" />
                        </div>
                        <span class="error" ng-show="videoListsCtrl.addVideoForm.description.$invalid && !videoListsCtrl.addVideoForm.description.$pristine">* Description is required!</span>
                    </div>
                    <div class="form-group">
                        <label for="description">Tags</label>
                        <div class="input-group" ng-class="{ 'has-error' : videoListsCtrl.addVideoForm.tags.$invalid && !videoListsCtrl.addVideoForm.tags.$pristine }">
                            <span class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                            <tags-input style="height: auto;" class="form-control" id="tags" name="tags" placeholder="Enter video tag" ng-model="videoListsCtrl.video.videoTag" display-property="name"></tags-input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <i class="fa fa-global" aria-hidden="true"></i>
                        <div class="col-xs-3">
                            <select aria-label="ngSelected demo" class="form-control" ng-model="videoListsCtrl.video.visible" ng-options="o.v as o.n for o in [{ n: '&#xf0ac; Public', v: true },{ n: '&#xf023; Private', v: false }]"></select>
                        </div>
                        <div class="col-xs-9">
                            <button type="submit" class="btn btn-primary" ng-disabled="videoListsCtrl.addVideoForm.$invalid">Submit</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="delete-video-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Video</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete <i>{{videoListsCtrl.video.title}}</i>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="videoListsCtrl.deleteVideo()">OK</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
