<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="embed-responsive embed-responsive-16by9">
                <!-- <iframe class="embed-responsive-item" ng-src="{{videoCtrl.embeddedVideoUrl}}"></iframe> -->
                <br>
                <iframe width=\ "459\" height=\ "344\" src=\ "https://www.youtube.com/embed/iwGFalTRHDA?feature=oembed\" frameborder=\ "0\" allowfullscreen></iframe>
                <br>
                <iframe src=\ "https://player.vimeo.com/video/76979871\" width=\ "480\" height=\ "270\" frameborder=\ "0\" title=\ "The New Vimeo Player (You Know, For Videos)\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <br>
                <!-- <iframe frameborder="0" width="480" height="360" src="http://www.dailymotion.com/embed/video/xoxulz" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>
</div>