<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="embed-responsive embed-responsive-16by9">
                 <iframe class="embed-responsive-item" ng-src="{{videoCtrl.embeddedVideoUrl}}"></iframe> 
<!--                <iframe frameborder="0" width="480" height="269" ng-src="http://www.dailymotion.com/embed/video/x5x3qop" allowfullscreen></iframe>-->
<!--                <iframe width="459" height="344" src="https://www.youtube.com/embed/bDOYN-6gdRE?feature=oembed\" frameborder="0" allowfullscreen="allowfullscreen"></iframe>-->
<!--                <iframe src="https://player.vimeo.com/video/160697056" width="640" height="360" frameborder="0" title="DOKU-TUR (presented by NOWNESS)" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            </div>
        </div>
    </div>
</div>