<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{videoCtrl.video.videoPlayerUrl}}" frameborder="0" allowfullscreen></iframe>
                <!--                <iframe frameborder="0" width="480" height="269" ng-src="http://www.dailymotion.com/embed/video/x5x3qop" allowfullscreen></iframe>-->
                <!--                <iframe width="459" height="344" src="https://www.youtube.com/embed/bDOYN-6gdRE?feature=oembed\" frameborder="0" allowfullscreen="allowfullscreen"></iframe>-->
                <!--                <iframe src="https://player.vimeo.com/video/160697056" width="640" height="360" frameborder="0" title="DOKU-TUR (presented by NOWNESS)" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>
                <span>Add Comment:</span>
                <div class="pull-right">
                    <span>Rate:&nbsp;&nbsp;&nbsp;</span>
                    <span uib-rating class="text-primary" ng-model="videoCtrl.comment.rate" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></span>
                </div>
            </h4>
            <textarea class="form-control" style="max-width: 100%;" id="comment" ng-model="videoCtrl.comment.content"></textarea>
            <button class="btn btn-primary btn-md" ng-click="videoCtrl.postComment(videoCtrl.comment)">Post</button>
            <br>
            <br>
            <div ng-repeat="comment in videoCtrl.comments">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-3">
                                <span><strong><i>{{comment.user.username}}</i></strong></span> </div>

                        </div>
                    </div>
                    <div class="panel-body">
                        <span ng-if="comment.content">{{comment.content}}</span>
                        <div>
                            <h6><small class="pull-right">{{comment.creationDate | date : "d MMM y"}}</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
