@CHARSET "ISO-8859-1";
body {
    margin-top: 90px;
    margin-bottom: 50px;
}

.might-overflow {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.affix {
    width: 22%;
}

html { 
    overflow-y: scroll; 
}

tags-input .tags {
    border: 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

select {
    font-family: 'FontAwesome', 'Second Font name'
}
