@CHARSET "ISO-8859-1";
body {
    margin-top: 90px;
    margin-bottom: 50px;
}

.might-overflow {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.affix {
    width: 22%;
}

html { 
    overflow-y: scroll; 
}

tags-input .tags {
    border: 0;
    min-height: 43px;
}

.tag-item {
    color:#fff;
    background:#428bca;
    border:1px solid #357ebd;
    border-radius:4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

select {
    font-family: 'FontAwesome', 'Second Font name'
}
