<div class="row">
    <div class="col-md-12">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Add video...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <button class="btn btn-sm" ng-click="$ctrl.searchYouTube()">YouTube</button>
    </div>
    <div class="col-md-4 text-center">
        <button class="btn btn-sm" ng-click="$ctrl.searchVimeo()">Vimeo</button>
    </div>
    <div class="col-md-4 text-center">
        <button class="btn btn-sm" ng-click="$ctrl.searchDailymotion()">Dailymotion</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{$ctrl.text}}
    </div>
</div>