<div class="row">
    <div class="col-md-12">
        <div class="form-group form-group-sm">
            <input type="text" class="form-control" placeholder="Add video..." ng-model="$ctrl.searchVideoTerm" ng-keyup="$event.keyCode == 13 && $ctrl.searchYouTube('')">
        </div>
        <div class="text-center">
            <button class="btn btn-sm btn-default" ng-click="$ctrl.searchYouTube('')">YouTube&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-sm btn-default" ng-click="$ctrl.searchVimeo(1)">Vimeo&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-sm btn-default" ng-click="$ctrl.searchDailymotion(1)">Dailymotion&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
        <div>
            <div ng-scrollbars ng-scrollbars-config="$ctrl.scrollbarsConfig" style="max-height: 75vh">
                <ul class="list-unstyled video-list-thumbs row" style="width: 100%">
                    <li class="col-md-12" ng-repeat="video in $ctrl.providerVideoList">
                        <a class="add-video" href="" ng-click="$ctrl.onVideoSelect({video: video})" popover-title="Add video to playlist:" uib-popover="{{video.title}}" popover-append-to-body="true" popover-placement="right" popover-trigger="'mouseenter'">
                            <div class="row">
                                <div class="col-xs-6">
                                    <img ng-src="{{video.videoImageUrl}}" alt="{{video.title}}" class="img-responsive" />
                                </div>
                                <div class="col-xs-6">
                                    <h2 class="">{{video.title}}</h2>
                                </div>
                            </div>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                {{$ctrl.error | json}}
                <div ng-show="$ctrl.progressBar" class="text-center">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
